<%= f = form_for @changeset, "#",
      autocomplete: "off",
      phx_target: @myself,
      phx_change: "validate",
      phx_submit: "save"
%>
  <%= hidden_input f, :username, value: @username %>

  <div class="input-group">
    <%= text_input f, :content, placeholder: "Type a message..." %>
  </div>

  <div class="form__action">
    <%= submit "Send", class: "btn", phx_disable_with: "Sending...", disabled: !@changeset.valid? %>
  <div>
</form>
